<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Daftar</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
	<section>
		<div class="container">
			<!--<div class="user singinBx">
				<div class="imgBx"><img src="img/bg-01.jpg"></div>
				<div class="formBx">
					<form>
						<h2>Sign In</h2>
						<input type="text" name="" placeholder="Username">
						<input type="password" name="" placeholder="Password">
						<input type="submit" name="" value="Login">
						<p class="signup">Don't have an account? <a href="#" onclick="toggleform();">Sign up</a></p>
					</form>
				</div>
			</div>-->
			<div class="user singupBx">
				<div class="formBx">
					<form action="/auth/register" method="POST">
						<h2>Create An Account.</h2>
						<input type="text" name="username" placeholder="Username">
						<input type="email" name="email" placeholder="Email Address">
						<input type="password" name="password" placeholder="Create Password">
						<input type="password" name="passwordConfirm" placeholder="Confirm Password">
						<input type="submit" value="Create">
						{{#if message}}
						<h4 class="error">{{message}}</h4>
						{{/if}}
						<p class="signup">Already have an account? <a href="/login">Sign in</a></p>
					</form>
				</div>
				<div class="imgBx"><img src="/img/bg-01.jpg"></div>
			</div>
		</div>
	</section>
</body>

</html>